{% extends 'words.html' %}
{% block header %}
    <section class="word_header">
        <h1>{{ word_count }} lexemes</h1>
        <div class="word_controls">
            <a href="{{ doc_root }}add-word/{{ session.id }}" class="button button_green">Add Word</a>
            <input 
                type="text" 
                id="word_search" 
                placeholder="Search words..." 
                class="word_search_input"
                autocomplete="off"
            />
        </div>
    </section>
{% endblock %}
{% block main %}
    <section class="word_grid">      
        {% for word in words %}
            <a class="word" href="{{ doc_root }}word/{{word.id}}/{{ session.username }}" style="text-decoration: underline; text-decoration-color: {{ word.color }}; text-decoration-thickness: 3px;">{{ word.word }}</a>
        {% endfor %}
    </section>
{% endblock %}